{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/lists.css' %}" />
{% endblock css %}
 {% block content %}
<h1>Computers</h1>
{% if user.is_authenticated %}
  <section style="display:flex;">
    <form action="{% url 'hrapp:computer_form' %}" method="GET">
            {% csrf_token %}
            <button class="button">Add Computer</button>
        </form>
  </section>
{% endif %} 

<ol class="list">
  {% for computer in computers %}
  <li class="card">
    <a class="details-link" class="employee-name" href="{% url 'hrapp:computer' computer.id %}"> {{ computer.make }} </a> 
  </li>
  {% endfor %}
</ol>
{% endblock content %}
