{% extends 'shared/base.html' %} 
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/lists.css' %}" />
{% endblock css %}

{% block content %}

<section class="computer-details">
  <h1>{{ computer.make }}</h1>
  <h2>Pruchased on: {{ computer.purchase_date }}</h2>
  <h2>Decommission on: {{ computer.decommission_date }}</h2>
  <h2>Manufacturer: {{ computer.manufacturer }}</h2>
</section>
{% if user.is_authenticated %}
<form action="{% url 'hrapp:computer' computer.id %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="actual_method" value="DELETE" />
  <button class="button">Delete</button>
</form>
{% endif %} {% endblock %}
