{% extends 'shared/base.html' %} 
{% block content %}

<form action="{% url 'hrapp:training_program_list' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <label for="training_title">Title: </lable>
        <input id="training_title" type="text" name="training_title">
    </fieldset>
    <fieldset>
        <label for="start_date">Start Date: </label>
        <input id="start_date" type="date" name="start_date">
    </fieldset>
    <fieldset>
        <label for="end_date">End Date: </label>
        <input id="end_date" type="date" name="end_date">
    </fieldset>
    <fieldset>
        <label for="max_capacity">Max Capacity: </label>
        <input id="max_capacity" type="number" name="max_capacity">
    </fieldset>

    <input type="submit" value="Add It" />
</form>


{% endblock content %}