{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/lists.css' %}" />
{% endblock css %}
{% block content %}

  <section class="training_program-details">
    <h1>{{ training_program.training_title }} </h1>
    <p>Start Date: {{ training_program.start_date }}</p>
    <p>End Date: {{ training_program.end_date }}</p>
    <p>Maximum Attendees: {{ training_program.max_capacity }}</p>
  </section>

{% if user.is_authenticated %}
  <section id="training_program-actions" style="display:flex;">
    <form action="{% url 'hrapp:training_edit_form' training_program.id %}" method="GET">
      {% csrf_token %}
      <button class="button">Edit</button>
    </form>
    <form action="{% url 'hrapp:training_program' training_program.id %}" method="POST">
    {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button class="button">Delete</button>
    </form>
  </section>
{% endif %}

{% endblock %}

